* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #331f19;
}

.container {
  text-align: center;
  background-color: #cbbba7;
  padding: 20%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #331f19;
}

p {
  color: #331f19;
  font-size: 1.1em;
}

.saudacao {
  font-size: 1.5em;
  color: #60041a;
}

button {
  background-color: #60041a;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  color: #ddd;
}

button:hover {
  background-color: #331f19;
}
